.products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.moreP{
    border: none;
    outline: none;
}
.phead{
    margin-left: 100px;
}
.moreP img{
    width: 30px;
}
.bdiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 700.98px){
    .phead{
        text-align: center;
        font-size: 27px;
     
        padding: 0;
        margin: 20px 0;

    }
    .products{
        margin: 10px 4px ;
       
    }
    

}