*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#scroller{
  
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index:10;
    margin-top: 40px;
   

}
#scroller h4{
    display: inline-block;
    font-size: 110px;
    font-weight: 900;
    font-family: sans-serif;
    -webkit-text-stroke: 2px #D1991C;
    color: transparent;
    transition: .5s all linear;
    margin-right: 20px;
    cursor: pointer;
}
#scroller h4:hover{
    color: #ecb76c;
}
#scroller-in-1{
    display: inline-block;
    white-space: nowrap;
    animation-duration: 30s;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller::-webkit-scrollbar{
    display: none;
}

@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
@media (max-width: 700.98px){   

#scroller h4{
    font-size: 40px;
}
#scroller{
    margin: 0;
}


}