.featured{
    width: 100%;
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 2% 8%;
}
.featured h2{
    width: 170px;
    background-color: red;
    color: white;
    font-weight: 900;
  
   border-top-left-radius: 40px;
    font-size: 28px;
    padding-left: 20px;
    position: absolute;
    left: 0;
}
.fCards{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fCard{
    width: 400px;
    overflow: hidden;
    position: relative;
    height: 250px;
    border-radius: 40px;
    background-color: red;
}
.fcontainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.fCard img{
    width: 400px;
    height:250px
}
.vcard{
    height: 450px;
    width: 400px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}
.vcard img{
    height: 450px;
    width: 400px;
}