@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.nav{
   margin: 0;
    width: 100%;
    padding: 0 5%;
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;  
    position: relative;
    padding-top: -4%;
    opacity:1;
    transition: opacity 1s ease-in-out;
    z-index: 10;
   height: 100px;
}
.logo{
    width: 145px;
margin-top: -0.8%;
cursor: pointer;

}

.logo:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 20%;
}
ul li{
    list-style: none;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    color: #D1991C;
    cursor: pointer;
}
ul li:hover{
    color:  #fff;;
}
.icons,.buttons{
    display: flex;
    align-items: center;

  gap: 80px;
    width: 13%;
}
.icons img,.buttons img{
    width: 25px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}
.buttons img{
    margin-top: 13px;
    width: 30px;
}
.icons img:hover{
    transform: scale(1.2);
}
#cart{
    width: 34px;
    height: 34px;
    cursor: pointer;
}
#global{
    width: 31px;
    height: 100%;
}


   .link{
color: white;
   text-decoration: none;
   z-index: 10;

    }
   .link:hover{
    color: white;
   text-decoration: none;

    }
    .buttons{
        display: flex;
    }

   
@media screen and (max-width:600px) {
   .nav{
    justify-content: space-between;
    height: 102%;
   }
   .buttons {
    height: 100%;
   }
   .buttons img{
    height: 35px;
   width: 35px;
   }
  .ph{
    display: none;
  }
  .mb{
    background-color: black;
    z-index: 10;
  }
  
    .logo{
        width: 98px;
    }
    ul,.icons{
        flex-direction: column;
        display: flex;
        position: absolute;
       
    }
    Link{
        text-decoration: none;
    }
    ul,.icons{
        background-color:black;
        width: 50%;
       top: 100px;
        gap: 0;
        right: 4%;
        height: 393px;
        z-index: 10;
        transition: .3s all ease-in-out;
        
    }
    ul{
        gap: 0;
    }
    .icons{
       top: 50%;
      flex-direction: row;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 50px;
     
      justify-content: space-between;
      padding: 0 6%;
      border: 2px solid #D1991C;
      background-color: transparent;
      border-top: 0;
      padding-bottom: 20px;
    }
    .icons img{
        width: 30px;
        
    }
    ul li{
        color: white;
        padding: 11px;
        border-bottom: 2px solid white;
        height: 100px;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
     
       
    }
   
    ul li:hover{
        border-bottom: 0;
    }
    .buttons{
        display: flex;
    }
    .buttons img{
        width: 30px;
    }

    ul,.icons{
        opacity: 1;
    }
   
    .navContainer{
        width: 200px;
        background-color: #ffffff;
        height: 550px;
        position: absolute;
        transition: right 0.3s ease-in-out;
        top: 57px;
        padding: 40px 30px;
        
    }
    .navList-item{
        width: 100%;
        display: flex;
        font-size: 22px;
    
        color: #b9883d;
       
        margin-bottom: 35px;
       
    }

    .navList-item img{
        width: 27px ;
        height: 27px;
        margin-top: -4px;
        margin-right: 10px;
    }
}
